<div class="cover-all modal-cover" id="backdrop">
    <svg version="1.2" baseProfile="tiny" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    	 x="0px" y="0px" width="822px" height="665px" viewBox="0 0 822 665" xml:space="preserve">
    	<g>
    		<polygon fill="#F9F5E8" points="27.999,636.001 27.999,90.0708 110.0703,7.9995 794.001,7.9995 794.001,553.9297 711.9297,636.001"/>
    		<path fill="#C69C5D" d="M789.0009,12.9993v538.8593l-51.2128,51.2127l-27.9294,27.9294H32.9992V92.1414l51.2127-51.2127
    			l27.9294-27.9294H789.0009 M799.0009,2.9993H107.9992c-33.1946,33.1946-51.8054,51.8055-85,85v553.0015h691.0017
    			c33.1946-33.1946,51.8054-51.8055,85-85V2.9993L799.0009,2.9993z"/>
            <line fill="none" stroke="#C69C5D" stroke-width="4" stroke-miterlimit="10" x1="405" y1="427" x2="405" y2="571"/>
            <line fill="none" stroke="#C69C5D" stroke-width="4" stroke-miterlimit="10" x1="87" y1="134.5" x2="87" y2="424"/>
            <polyline fill="none" stroke="#C69C5D" stroke-width="4" stroke-miterlimit="10" points="258.2896,88.0384 693,88.0384 737.4808,132.5192 737.4808,308.2573 "/>
            <polyline fill="none" stroke="#323232" stroke-width="8" stroke-miterlimit="10" points="816,23 816,565 722.5,658.5 41,658.5 "/>
            <text transform="matrix(1 0 0 1 405.5098 213.2319)" font-family="'KeplerStd-SemiboldScnDisp'" font-size="60px" id="modal_hackathonTitle">Tree Hacks</text>
            <text transform="matrix(1 0 0 1 410.3286 258.186)" font-family="'KeplerStd-SemiboldScnDisp'" font-size="30px" id="modal_hostName">Stanford University</text>
            <text transform="matrix(1 0 0 1 410.3286 291.6262)" font-family="'KeplerStd-SemiboldScnDisp'" font-size="30px" id="modal_location">Stanford, CA</text>
            <text transform="matrix(1 0 0 1 410.3286 325.0664)" font-family="'KeplerStd-SemiboldScnDisp'" font-size="30px" id="modal_date">February 14-16, 2020</text>
            <text transform="matrix(1 0 0 1 435.6777 448.4551)" font-family="'KeplerStd-SemiboldScnDisp'" font-size="30px" id="modal_winner1">Samuel Escapa</text>
            <text transform="matrix(1 0 0 1 437.9873 485.4053)" font-family="'KeplerStd-SemiboldScnDisp'" font-size="30px" id="modal_winner2">Jamsheed Mistri</text>
            <text transform="matrix(1 0 0 1 435.6777 522.3555)" font-family="'KeplerStd-SemiboldScnDisp'" font-size="30px" id="modal_winner3">Oscar Bjorkman</text>
            <text transform="matrix(1 0 0 1 435.6777 559.3057)" font-family="'KeplerStd-SemiboldScnDisp'" font-size="30px" id="modal_winner4">Michael Yoo</text>
            <image width="300" height="300" xlink:href="/assets/hackathons/brickhack.png"  transform="matrix(0.84 0 0 0.84 113 142)"></image>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55.11 55.11">
                <rect x="20.36" y="-8.44" width="14.4" height="72" rx="7.2" transform="translate(27.56 -11.41) rotate(45)" style="fill:#7b7c80"/>
                <rect x="20.36" y="-8.44" width="14.4" height="72" rx="7.2" transform="translate(-11.41 27.56) rotate(-45)" style="fill:#7b7c80"/>
            </svg>
        </g>
    </svg>
    <!-- <div class="modal-frame" id="modal">
        <div class="modal-inner">
            <div class="modal-dismiss">
            </div>
            <div class="modal-top">
                <div class="modal-logo">
                    <img src="/assets/hackathons/hackduke.png">
                </div>
                <div class="modal-body">
                    <h1 class="modal-title">Tree Hacks</h1>
                    <h4 class="modal-host">Stanford University</h4>
                    <h4 class="modal-location">Stanford, CA</h4>
                    <h4 class="modal-date">February 14-16, 2020</h4>
                </div>
            </div>
            <div class="modal-bottom">
                <div class="modal-hackerList">
                    <ul>
                        <li>Samuel Escapa</li>
                        <li>Jamsheed Mistri</li>
                        <li>Oscar Bjorkman</li>
                        <li>Michael Yoo</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-backing"></div>
    </div> -->
</div>
